version: '2'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  exporter:
    build: .
    environment:
      KAFKA_URL: kafka:9092
      ZOOKEEPER_URL: zookeeper:2181
      CRYPTOMOOD_URL: santiment.api.cryptomood.com:30002
      CERT_FILE_PATH: "./cert.pem"
      PROTO_FILE_PATH: "./types.proto"
      ONLY_HISTORIC: 0
      CANDLE_TYPE: social